{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load messages %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}

{% if form.errors %}
{% show_message "danger" _("Your username and password didn't match. Please try again.") %}
{% endif %}

<form method="post" action=".">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}" />
<div class="panel panel-primary">
<div class="panel-heading">{% trans "Login" %}</div>

<div class="panel-body">
{{ form|crispy }}
</div>

<div class="panel-footer">
<input type="submit" value="{% trans "Login" %}" class="btn btn-default" />
</div>
</div>
</form>

{% endblock %}
