div#sidebar {
    float: left;
    width: 15em;
}

ul.filters {
    background: #dddddd;
    padding: 1em 1em 1em 1.5em;
    position: fixed;
    top: 3em;
    left: auto;
    width: 8.5em;
    right: 2em;
    margin: 1em;
    border: 1px solid black;
}

ul.navbar {
    float: right;
    display: block;
}

ul.navbar li {
    list-style: none;
    display: inline; 
	font-weight: bold;
	padding: 0.5em;
}

ul.filters input[type=text] {
    width: 5em;
}

form.preferences textarea {
    width: 120em;
    height: 3em;
}

tr.incident:hover {
    background-color: #eef;
}

tr.odd {
    background-color: #eee;
}
tr.even {
    background-color: #fff;
}

tr.P0 {
    font-weight: bolder;
}

tr.red, tr.red:hover {
    background-color: orangered;
}

tr.amber, tr.amber:hover {
    background-color: orange;
}

tr.longwaiting {
    font-weight: bolder;
}

tr.sleeping {
    font-style: italic;
}

p.notice,p.success,p.warning,p.error {
    margin:             0.3em 0 0 0;
    border:             2px solid;
    width:              90%;
    padding:            0.3em;
}
p.success {
    color:              #000000;
    background-color:   #f0fff0;
    border-color:       #00FF00;
}
p.notice {
    color:              #000000;
    background-color:   #FFFFDD;
    border-color:       #FFD700;
}
p.warning {
    color:              #CC0000;
    background-color:   #FFFFCC;
    border-color:       #CC0000;
}
p.error {
    background-color:   #FFFFCC;
    color:              #ff0000;
    border-color:       #ff0000;
}

.tip {
	color: #fff;
    background-color: #444444;
   	z-index: 13000;
    padding: 0.5em;
}
 
.tip-title {
	font-weight: bold;
	font-size: smaller;
	margin: 0;
	color: #9FD4FF;
	padding: 0.2em;
}
 
.tip-text {
	font-size: smaller;
    color: white;
}

h1,h2,h3 {
    background-color: #f2f2f2;
    color: #20435c;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0.2em;
}

h1 {
    font-weight: normal;
    font-size: larger;
}
h2 {
    font-weight: normal;
    font-size: larger;
    margin-top: 1em;
}
h3 {
    font-weight: normal;
    font-size: 1em;
    margin-top: 1em;
}
table.report th.title {
    text-align: left;
}
a img {
    border: none;
}
form.action {
    display: inline;
}
td.actions {
    white-space: nowrap;
}
tr.incidentdetail {
    display: none;
	font-size: small;
}
tr.incidentdetail div.note {
	color: #9FD4FF;
}
div.multiaction {
    background-image: url('arrow.png');
    background-repeat: no-repeat;
    padding-left: 45px;
    margin-left: 5px;
    margin-top: 1em;
}
