{% extends "base.html" %}

{% load messages %}
{% load i18n %}

{% block title %}{{ gift.title }}{% endblock %}

{% block content %}

<div class="panel panel-default">
<div class="panel-heading"><h4>{{ gift.title }}</h4></div>
<div class="panel-body">

{% ifequal gift.buyer user %}
{% show_message "info" _("You are currently marked as buyer of this gift.") %}
{% else %}
{% if gift.buyer %}
{% show_message "info" _("This item is marked as bought.") %}
{% endif %}
{% endifequal %}

<table class="table">
<tr><th>{% trans "Gift for:" %}</th><td>{{ gift.owner.get_full_name }}</td></tr>
<tr><th>{% trans "Priority:" %}</th><td>{{ gift.get_priority_display }}</td></tr>

{% if gift.price %}
<tr><th>{% trans "Estimated price:" %}</th><td>{{ gift.price }}</td></tr>
{% endif %}

{% if gift.url %}
<tr><th>{% trans "More details:" %}</th><td><a href="{{ gift.url }}">{{ gift.url }}</a></td></tr>
{% endif %}
<tr><td colspan="2">
{{ gift.description_html|safe }}
</td></tr>
</table>
</div>
<div class="panel-footer">
{% include "gift-actions.html" %}
</div>
</div>
{% endblock %}
