{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ gift.title }}{% endblock %}

{% block content %}

<div class="panel panel-default panel-list">
<div class="panel-heading"><h4>{{ gift.title }}</h4></div>
<div class="panel-body">

{% ifequal gift.buyer user %}
<p>{% trans "You are currently marked as buyer of this gift." %}</p>
{% else %}
{% if gift.buyer %}
<p>{% trans "This item is marked as bought." %}</p>
{% endif %}
{% endifequal %}

<p><strong>{% trans "Gift for:" %}</strong> {{ gift.owner.get_full_name }}</p>
<p><strong>{% trans "Priority:" %}</strong> {{ gift.get_priority_display }}</p>

{% if gift.price %}
<p><strong>{% trans "Estimated price:" %}</strong> {{ gift.price }}</p>
{% endif %}

{% if gift.url %}
<p><strong>{% trans "More details:" %}</strong> <a href="{{ gift.url }}">{{ gift.url }}</a></p>
{% endif %}

{{ gift.description_html|safe }}

</div>
<div class="panel-footer">
{% include "gift-actions.html" %}
</div>
</div>
{% endblock %}
