{% load i18n %}

<table class="table table-striped"> 
<thead>
<tr>
{% if show_user %}
<th>{% trans "User" %}</th>
{% endif %}
<th>{% trans "Title" %}</th>
<th>{% trans "Price" %}</th>
<th>{% trans "Priority" %}</th>
<th>{% trans "Actions" %}</th>
</tr>
</thead>
<tbody>
{% for gift in gifts %}
<tr class="{% ifequal gift.buyer user %}info{% else %}{% if gift.buyer %}warning{% endif %}{% endifequal %}">
{% if show_user %}
<td><a href="/{{ gift.owner.username }}/">{{ gift.owner.get_full_name }}</a></td>
{% endif %}
<td><a href="{{ gift.get_absolute_url }}">{{ gift.title }}</a></td>
<td>{% if gift.price %}{{ gift.price }}{% else %}<abbr title="{% trans "Not defined" %}">-</abbr>{% endif %}</td>
<td>{{ gift.get_priority_display }}</td>
<td class="action">
{% if gift.owner == user %}
<a href="{{ gift.get_edit_url }}" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a>
<a href="{{ gift.get_delete_url }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a>
{% else %}
{% if not gift.buyer %}
<a href="{{ gift.get_buy_url }}" class="btn btn-info"><span class="glyphicon glyphicon-shopping-cart"></span> {% trans "Buy" %}</a>
{% else %}
{% if gift.buyer == user %}
<a href="{{ gift.get_revoke_url }}" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> {% trans "Revoke" %}</a>
{% else %}
<span class="badge">{% trans "Taken" %}</span>
{% endif %}
{% endif %}
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
