{% load i18n %}

<table>
<thead>
<tr>
{% if show_user %}
<th>{% trans "User" %}</th>
{% endif %}
<th>{% trans "Title" %}</th>
<th>{% trans "Price" %}</th>
<th>{% trans "Priority" %}</th>
<th>{% trans "Actions" %}</th>
</tr>
</thead>
<tbody>
{% for gift in gifts %}
<tr class="{% ifequal gift.buyer user %}buyer{% else %}{% if gift.buyer %}bought{% endif %}{% endifequal %}">
{% if show_user %}
<td><a href="/{{ gift.owner.username }}/">{{ gift.owner.get_full_name }}</a></td>
{% endif %}
<td><a href="{{ gift.get_absolute_url }}">{{ gift.title }}</a></td>
<td>{% if gift.price %}{{ gift.price }}{% else %}{% trans "Not defined" %}{% endif %}</td>
<td>{{ gift.get_priority_display }}</td>
<td class="action">
{% ifequal gift.owner user %}
<a href="{{ gift.get_edit_url }}">{% trans "Edit" %}</a>
{% else %}
{% if gift.buyer %}
{% else %}
<a href="{{ gift.get_buy_url }}">{% trans "Buy" %}</a>
{% endif %}
{% endifequal %}
{% ifequal gift.buyer user %}
<a href="{{ gift.get_revoke_url }}">{% trans "Revoke" %}</a>
{% endifequal %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
