{% load i18n %}

<table class="table table-striped"> 
<thead>
<tr>
{% if show_user %}
<th>{% trans "User" %}</th>
{% endif %}
<th>{% trans "Title" %}</th>
<th width="100px">{% trans "Price" %}</th>
<th width="50px"><abbr title="{% trans "Priority" %}">{% trans "P" %}</abbr></th>
<th width="220px">{% trans "Actions" %}</th>
</tr>
</thead>
<tbody>
{% for gift in gifts %}
<tr class="{% ifequal gift.buyer user %}info{% else %}{% if gift.buyer %}warning{% endif %}{% endifequal %}">
{% if show_user %}
<td><a href="/{{ gift.owner.username }}/">{{ gift.owner.get_full_name }}</a></td>
{% endif %}
<td>
{% if gift.buyer and gift.buyer != user %}
<span class="badge pull-right">{% trans "Taken" %}</span>
{% endif %}
{% if gift.private %}
<span class="badge pull-right">{% trans "Private" %}</span>
{% elif gift.buyer and gift.buyer == user %}
<span class="badge pull-right">{% trans "Buying" %}</span>
{% endif %}
<a href="{{ gift.get_absolute_url }}">{{ gift.title }}</a>
</td>
<td>{% if gift.price %}{{ gift.price }}{% else %}<abbr title="{% trans "Not defined" %}">-</abbr>{% endif %}</td>
<td><abbr title="{{ gift.get_priority_display }}">
{% if gift.priority == 1 %}
<span class="glyphicon glyphicon-chevron-down"></span>
{% elif gift.priority == 2 %}
<span class="glyphicon glyphicon-chevron-down text-muted"></span>
{% elif gift.priority == 3 %}
<span class="glyphicon glyphicon-minus text-muted"></span>
{% elif gift.priority == 4 %}
<span class="glyphicon glyphicon-chevron-up text-muted"></span>
{% elif gift.priority == 5 %}
<span class="glyphicon glyphicon-chevron-up"></span>
{% else %}
{{ gift.priority }}
{% endif %}
</abbr></td>
<td class="action">
{% if gift.owner == user or gift.private %}
<a href="{{ gift.get_edit_url }}" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a>
<a href="{{ gift.get_delete_url }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a>
{% else %}
{% if not gift.buyer %}
<a href="{{ gift.get_buy_url }}" class="btn btn-info"><span class="glyphicon glyphicon-shopping-cart"></span> {% trans "Buy" %}</a>
{% else %}
{% if gift.buyer == user %}
<a href="{{ gift.get_revoke_url }}" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> {% trans "Revoke" %}</a>
{% endif %}
{% endif %}
{% endif %}

</td>
</tr>
{% endfor %}
</tbody>
</table>
