{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% regroup gifts by owner as gift_list %}

{% for gift in gift_list %}
<div class="panel panel-default panel-list">
<div class="panel-heading"><h4><a href="/{{ gift.grouper }}/">{{ gift.grouper.get_full_name }}</a></h4></div>
<div class="panel-body">

{% with gift.list as gifts %}
{% include "list.html" %}
{% endwith %}

</div>
{% if user == gift.grouper %}
{% include "list-add-own.html" %}
{% else %}
{% with gift.grouper as listuser %}
{% include "list-add.html" %}
{% endwith %}
{% endif %}
</div>

{% endfor %}

{% endblock %}
