name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version:
        - '3.11'
        - '3.12'
    name: Python ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Cache pip
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('**/requirements*.txt') }}
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: ${{ matrix.python-version }}
    - run: sudo apt-get update
    - run: sudo apt-get install -y gettext
    - name: Install pip dependencies
      run: |
        pip install --upgrade pip wheel setuptools
        pip install -r requirements.txt -r requirements-dev.txt
    - name: Compile MO files
      run: ./manage.py compilemessages
    - name: Django checks
      run: ./manage.py check
    - name: Test with Django
      run: coverage run ./manage.py test
    - name: Coverage
      run: |
        coverage combine
        coverage xml
    - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        name: Python ${{ matrix.python-version }}
